<h3><%= @post.title %></h3>

<h5>Comments on the Post</h5>
<%= render 'comments/form', :object => @comment %>
 <ul>
  <% @post.comments.each do |comment| %>
      <li> <%= comment.content %>
    <%= link_to "edit", edit_comment_path(comment) %>
    <%= link_to "comment on this post", new_comment_path(comment) %></li>
  <% end %>
</ul>
